---

cluster_name: "{{ cluster_name }}"

nodes:
{% for host in ansible_play_hosts %}
  - address: "{{ [inventory_hostname] }}"
    user: {{ rke_ssh_user }}
    ssh_key_path: /home/user/.ssh/id_rsa
    role:
      {{ hostvars[host].rke_node_role }}
{% endfor %}

private_registries:
  - url: {{ private_registry_url } # private registry url
    user: {{ private_registry_user }}
    password: {{ private_registry_password }}
    is_default: true